langchain==0.3.27
langchain-google-genai==2.1.8
python-dotenv==1.1.1
langchain-community==0.3.27
pypdf==6.0.0
langgraph==0.6.7
langchain-qdrant==0.2.1
pysqlite3-binary
langgraph-checkpoint-sqlite
fastapi==0.115.0
uvicorn==0.32.0
python-multipart==0.0.12
streamlit==1.40.0
requests==2.32.3
qdrant-client==1.12.1